h2 {
  text-align: center;
  /*font-size: 50%;*/
  line-height: 1.5;
}

footer {
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: white;
}